:root {
    --lightwhite: #fafafa;
    --lightblack: #131313;
    --top-margin: 50px;
    --top-inner-margin: 100px;
    --all-border-radius: 28px;
}

.App {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    align-self: center;
    background-color: #547a8a;
}

.app-wrapper {
    position: relative;
    background-color: #fafafa;
    padding: 20px;
    width: 1386px;
    height: 780px;
    border-radius: var(--all-border-radius);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-cap {
    text-transform: capitalize;
}

.left {
    background-color: #fafafa;
    width: 15%;
    border: 1px solid darkgray;
    border-radius: var(--all-border-radius);
}

.right {
    width: 85%;

}

button:hover {
    cursor: pointer;
}

.primary-button {
    padding: 15px 25px;
    border: none;
    border-radius: var(--all-border-radius);
    font-size: 20px;
    background-color: var(--lightwhite);
    color: var(--lightblack);
}

.primary-button:hover {
    background-color: lightgrey;
}

.secondary-button {
    width: 120px;
    padding: 15px 25px;
    border: none;
    border-radius: var(--all-border-radius);
    font-size: 20px;
    background-color: var(--lightblack);
    color: var(--lightwhite);
    margin-right: 2rem;
}

.secondary-button:hover {
    /*background-color: darkgray;*/
    text-decoration: underline;
}

#project-list-container {
    margin-top: 50px;
    font-size: 24px;
}

#project-detail-container {
    margin-top: var(--top-inner-margin);
}

.project-detail-button {
    background-color: var(--lightblack);
    color: var(--lightwhite);
    border: none;
    font-size: 24px;
    margin-bottom: 12px;
}

.project-detail-button:hover {
    text-decoration: underline;
}

.input-group {
    width: 100%;
    margin-bottom: 40px;
}

.input-label {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-text {
    width: 40rem;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
}

#input-description {
    min-height: 100px;
}

.navbar-wrapper {
    /*display: flex;*/
    /*position: relative;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.navbar-options {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}